input::placeholder {
    font-size: 12px;
}
.my-card {
    border-radius: 10px;
}
.my-card-header {
    background-color: white;
    border-radius: 10px !important;
}
.doctor-items-container {
    height: 90vh;
    overflow-y: scroll;
}
.doctor-items-container::-webkit-scrollbar {
  display: none
}
.doctor-card {
    border-radius: 10px;
}
.doctor-card:hover {
    border-color: #fb815e;
    cursor: pointer;
}
.doctor-address-container {
    border-radius: 10px;
    background-color: #e5f2fe;
}
.my-button {
    border-radius: 10px;
    background-color: #fb815e;
    color: white;
    transition: 0.4s;
}
.my-button:hover {
    background-color: #ff633b;
}

.button-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    opacity: 0.6;
    border-radius: 15px 10px 10px 15px;
    height: 100%;
    width: 20%;
    transition: 0.4s;
}
.my-button:hover > .button-overlay {
    width: 100%;
    border-radius: 10px;
}
.button-overlay:hover {
    width: 100%;
    border-radius: 10px;
}
.favorite-icon {
    color: #1780df;
}
.favorite-icon:hover {
    color: #fb815e;
    fill: #fb815e;
}
.favorite-button {
    height: 100%;
    border-radius: 10px;
    background-color: #fafafa;
    border: 1px solid #ededed;
}

