body{
    direction: rtl;
    background-color: #fafafa;
    margin: 0;
    font-family: BYekan,'BYekan',tahoma;
    line-height: 1.5;
    text-align: right;
}
.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
    align-items: center;
}
header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    background-color: #1780df;
    color: white;
}

button {
    outline: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

h5 {
    font-weight: bold;
}

input {
    border: none;
    box-shadow: none;
    outline: none;
}
.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.flex {
    display: flex;
}

.text-slate {
    color: #3b4157;
}
.text-steel {
    color: #6e7794;
}

.default-button {
    cursor: pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid #fb815e;
    color: #fb815e;
    transition: 0.3s;
    font-size: 1rem;
    padding: 10px 20px;
}
.default-button:hover {
    background-color: #fb815e;
    color: white;
}

/* HEADER CSS */
.nav-links {
    font-size: 14px;
}
.nav-links > div > a > svg {
    width: 21px;
    height: 21px;
}
.nav-links > div > a:hover {
    color: #ff6237;
    text-decoration: none;
}
.flip-horizontal {
    transform: scaleX(-1);
}
.login-button {
    display: flex;
    background-color: #ededed;
    color: #1780df;
    border-radius: 5px !important;
    font-size: 16px;
    font-weight: 700;
    padding: 0.25rem 1rem 0.25rem 1rem;
}
.login-button:hover {
    color: #fb815e;
}

/* MAIN CSS */
.search-container {
    border-radius: 3px;
    border: 1px solid #e2e8f0;
    background-color: #FAFAFA;
}
.search-input {
    width: 80%;
}
.search-icon {
    width: 19px;
    height: 19px;
    color: #1780df;
    transform: scaleX(-1);
}
.search-input::placeholder {
    font-size: 12px;
}

.professions-list {
    font-size: 14px;
}

.alphabet {
    font-size: 16px;
    text-align: center;
    background-color: #e5f2fe;
    padding: 5px 15px;
    border-radius: 3px
}
.alphabet-list-container {
    height: 70vh;
    overflow-x: hidden;
}
.alphabet-list-container::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.alphabet-list-container::-webkit-scrollbar-track {
    background: #e2e8f0;        /* color of the tracking area */
    border-radius: 30px;
    padding: 0;
    -webkit-box-shadow: inset 0 0 4px #ccc;
}

.alphabet-list-container::-webkit-scrollbar-thumb {
    background-color: #ccc;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}



.profession-items-container::-webkit-scrollbar {
  display: none;
}

.profession-items-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profession-item-card {
    border-radius: 10px;
    margin-bottom: 10px;
}
.profession-item-card:hover {
    border-color: #ff6237;
    cursor: pointer;
}

.profession-item-card > div > img {
    width: 25%
}

.profession-item-card > div > p {
    text-align: justify;
}
.sina > img {
    width: 30%;
}
/* FOOTER CSS */
.centered-ul {
    list-style-type: none;
}
.centered-ul > li {
    border-top: 1px solid white;
    color: white;
    padding: 10px 0;
    cursor: pointer;
}
.centered-ul > li:hover {
    background-color: white;
    color: #1780df;
}
.footer-image {
    border-radius: 20px;
    background-color: white;
    width: 100px;
    height: 110px;
}
.footer-social-media > svg {
    width: 40px;
    height: 40px;
}
.footer-copyright {
    background-color: white;
    font-size: 14px;
}